<div id="edit-area">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div id="help-area" class="invisible">
        <div class="alert alert-warning small" role="alert">
          <ul class="list-unstyled">
            <li>空いたところにドロップ -> パーティーメンバーとしてセット</li>
            <li>すでに登録されたところにドロップ -> 「置き換え」か「絆」か選択</li>
          </ul>
        </div>
      </div>
      <div id="search-area">
        <div class="bg-info small text-muted">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
              履歴呼び出し <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" class="dropdown-header">検索</li>
              <li><a data-target="#" id="default-list">最新のアルカナ</a></li>
              <li><a data-target="#" id="used-list">最近使ったアルカナ</a></li>
              <li class="divider"></li>
              <li role="presentation" class="dropdown-header">パーティー</li>
              <li><a data-target="#" id="last-members">最後に作ったパーティー構成</a></li>
              <li class="divider"></li>
              <li><a data-target="#" id="clear-used">（使用履歴のクリア）</a></li>
            </ul>
          </div>
          <button type="button" id="search-moadal" data-toggle="modal" data-target="#search-modal" class="btn btn-primary">
            検索する
          </button>
          表示中：<span id="detail"></span> <span id="pager-count"></span>
        </div>
        <div>
          <span class="help-block small">アルカナをドラッグ -> 上のパーティーエリアでドロップ</span>
        </div>
      </div>
      <div>
        <ul id="choice-characters" class="list-inline"></ul>
      </div>
      <p class="clearfix"></p>
      <div class="text-center">
        <ul class="pagination" id="pagination-area">
          <li id="pager-prev"><span>&larr;</span></li>
          <li id="pager-next"><span>&rarr;</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="search-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="help-modal-label">アルカナを検索</h2>
      </div>
      <div class="modal-body">
        <form class="form-horizontal well" role="form">
          <div class="form-group">
            <div class="col-sm-12 col-md-12">
              <button type="button" id="search" class="btn btn-primary" data-loading-text="検索中...">検索する</button>
              <button type="button" id="search-clear" class="btn btn-default pull-right">条件をクリアする</button>
              <span class="help-block small">条件をクリアして検索すると、最近登録されたアルカナが検索されます。</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6 col-md-6">
              <label for="job" class="control-label">職業</label>
              <select id="job" class="form-control">
                <option value="">-</option>
                <option value="F">戦</option>
                <option value="K">騎</option>
                <option value="P">僧</option>
                <option value="A">弓</option>
                <option value="M">魔</option>
              </select>
            </div>
            <div class="col-sm-6 col-md-6">
              <label for="rarity" class="control-label">レア度</label>
              <select id="rarity" class="form-control col-sm-6 col-md-6">
                <option value="">-</option>
                <option value="1">☆</option>
                <option value="1U">☆+</option>
                <option value="2">☆☆</option>
                <option value="2U">☆☆+</option>
                <option value="3">☆☆☆</option>
                <option value="3U">☆☆☆+</option>
                <option value="4">☆☆☆☆</option>
                <option value="4U">☆☆☆☆+</option>
                <option value="5">☆☆☆☆☆</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6 col-md-6">
              <label for="arcana-cost">コスト</label>
              <select id="arcana-cost" class="form-control">
                <option value="">-</option>
                <% (4..22).to_a.reverse.each do |c| %>
                  <option value="<%= c %>D"><%= c %>以下</option>
                <% end %>
                <option value="0">0</option>
              </select>
            </div>
            <div class="col-sm-6 col-md-6">
              <label for="chain-cost">絆コスト</label>
              <select id="chain-cost" class="form-control">
                <option value="">-</option>
                <option value="5">5</option>
                <option value="5D">5以下</option>
                <option value="4">4</option>
                <option value="4D">4以下</option>
                <option value="3">3</option>
                <option value="3D">3以下</option>
                <option value="2">2</option>
                <option value="2D">2以下</option>
                <option value="1">1</option>
                <option value="1D">1以下</option>
                <option value="0">0</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6 col-md-6">
              <label for="union">所属</label>
              <select id="union" class="form-control">
                <option value="">-</option>
              </select>
            </div>
            <div class="col-sm-6 col-md-6">
              <label for="weapon">武器タイプ</label>
              <select id="weapon" class="form-control">
                <option value="">-</option>
                <option value="Sl">斬</option>
                <option value="Bl">打</option>
                <option value="Pi">突</option>
                <option value="Pu">拳</option>
                <option value="Ar">弓</option>
                <option value="Gu">銃</option>
                <option value="Sh">狙</option>
                <option value="Ma">魔</option>
                <option value="He">聖</option>
              </select>
            </div>
          </div>
          <button type="button" class="btn btn-link" id="add-condition">もっと細かい条件を指定する</button>
          <div id="additional-condition">
            <div class="form-group">
              <div class="col-sm-6 col-md-6">
                <label for="skill">スキル・効果</label>
                <select id="skill" class="form-control">
                  <option value="">-</option>
                  <option value="attack">攻撃</option>
                  <option value="heal">回復</option>
                  <option value="song/dance">歌・舞</option>
                  <option value="buff">能力UP</option>
                  <option value="barrier">バリア</option>
                  <option value="obstacle">障害物設置</option>
                </select>
              </div>
              <div class="col-sm-6 col-md-6">
                <label for="skill-cost">スキル・マナ</label>
                <select id="skill-cost" class="form-control">
                  <option value="">-</option>
                  <option value="3">3</option>
                  <option value="3D">3以下</option>
                  <option value="2">2</option>
                  <option value="2D">2以下</option>
                  <option value="1">1</option>
                </select>
              </div>
            </div>
            <div id="skill-add">
              <div class="form-group">
                <div class="col-sm-6 col-md-6">
                  <label for="skill-sub">スキル・対象範囲</label>
                  <select id="skill-sub" class="form-control">
                    <option value="">-</option>
                  </select>
                </div>
                <div class="col-sm-6 col-md-6">
                  <label for="skill-effect">スキル・追加効果</label>
                  <select id="skill-effect" class="form-control">
                    <option value="">-</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-md-6">
                <label for="ability-effect">アビリティ・効果</label>
                <select id="ability-effect" class="form-control">
                  <option value="">-</option>
                </select>
              </div>
              <div class="col-sm-6 col-md-6">
                <label for="ability-condition">アビリティ・発動条件</label>
                <select id="ability-condition" class="form-control">
                  <option value="">-</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-md-6">
                <label for="chain-ability-effect">絆アビリティ・効果</label>
                <select id="chain-ability-effect" class="form-control">
                  <option value="">-</option>
                </select>
              </div>
              <div class="col-sm-6 col-md-6">
                <label for="chain-ability-condition">絆アビリティ・発動条件</label>
                <select id="chain-ability-condition" class="form-control">
                  <option value="">-</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-md-6">
                <label for="source">入手先</label>
                <select id="source-category" class="form-control">
                  <option value="">-</option>
                  <option value="first">1部</option>
                  <option value="second">2部</option>
                  <option value="ring">リング系</option>
                  <option value="event">イベント限定</option>
                  <option value="collaboration">コラボ限定</option>
                </select>
              </div>
              <div class="col-sm-6 col-md-6">
                <label for="source">入手先・詳細</label>
                <select id="source" class="form-control">
                  <option value="">-</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6 col-md-6">
                <label for="actor">声優</label>
                <select id="actor" class="form-control">
                  <option value="">-</option>
                  <% @actors.each do |act| %>
                    <option value="<%= act.id %>"><%= act.name %></option>
                  <% end %>
                </select>
              </div>
              <div class="col-sm-6 col-md-6">
                <label for="illustrator">イラストレーター</label>
                <select id="illustrator" class="form-control">
                  <option value="">-</option>
                  <% @illusts.each do |ill| %>
                    <option value="<%= ill.id %>"><%= ill.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="loading-modal" tabindex="-1" role="dialog" aria-labelledby="loading-modal-label" aria-hidden="true">
</div>
