<ul id="topnav" class="nav nav-tabs nav-justified invisible">
  <li role="presentation" class="<%= 'active' if ptedit_mode? %>"><a href="<%= root_path %>"><%= mode_name('ptedit') %></a></li>
  <li role="presentation" class="<%= 'active' if database_mode? %>"><a href="<%= db_path %>"><%= mode_name('database') %></a></li>
</ul>
