<div class="row">
  <div class="col-xs-12 col-md-12 col-sm-12">
    <div class="well well-sm">
      <%= link_to '<< 戻る', root_path %>
    </div>
    <h2>もっと細かい説明</h2>
    <a name="index"></a>
    <div class="small">
      <h4>目次</h4>
      <ul>
        <li><a href="#data">データ関連</a></li>
        <ul>
          <li><a href="#data-source">データの確認ソース</a></li>
          <li><a href="#data-arcana-source">アルカナ属性「入手先」について</a></li>
          <li><a href="#data-atkhp">ATKとHPについて</a></li>
          <li><a href="#data-ability-search">アビリティの分類について</a></li>
          <li><a href="#data-chained-arcana">「絆システム」への対応</a></li>
          <li><a href="#data-vita">Vita版（チェンクロV）について</a></li>
        </ul>
        <li><a href="#system">システム関連</a></li>
        <ul>
          <li><a href="#system-database-mode">「データベースモード」について</a></li>
          <li><a href="#system-fav">「お気に入り」について</a></li>
          <li><a href="#system-update-log">更新履歴</a></li>
          <li><a href="#system-future">今後の予定</a></li>
          <li><a href="#system-never">やらないこと</a></li>
        </ul>
      </ul>
    </div>
    <hr>
    <a name="data"></a>
    <div>
      <h2>データ関連</h2>
    </div>
    <a name="data-source"></a>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">データの確認ソース</h3>
      </div>
      <div class="panel-body">
        <p>
          大前提として、「チェインクロニクル」に関する全ての権利はSEGA / SEGA Networksにあります。
        </p>
        <p class="well well-sm">
          チェインクロニクル <%= link_to 'http://chronicle.sega-net.com/', 'http://chronicle.sega-net.com/' %><br>
          &copy; SEGA / &copy; SEGA Networks
        </p>
        <p>
          それをふまえて、ゲーム内で直にデータを確認するのが最も確実ですが、<%= link_to 'Wiki', 'http://xn--eckfza0gxcvmna6c.gamerch.com/' %>の情報にほぼ依存しています。<br>
          ただし、全て手でメンテしていますので、Wikiが修正されても自動で反映されるわけではありません。
        </p>
        <p>
          データにおかしなところがあれば <%= link_to '@parrot_studio', 'https://twitter.com/parrot_studio/', :target => '_blank' %> まで。
        </p>
      </div>
      <div class="panel-footer"><a href="#index">目次へ</a></div>
    </div>
    <a name="data-arcana-source"></a>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">アルカナ属性「入手先」について</h3>
      </div>
      <div class="panel-body">
        <p>
          ★4以上で酒場から出現するものについては明確ですが、<br>
          それ以外のアルカナについては以下のように分類しています。
        </p>
        <p>
          <small>
            <ul>
              <li>コラボ関連 => フェス限定や報酬（ex:アカツキ）等にかかわらず「コラボ限定 - （各コラボ）」</li>
              <li>ユリアナ/ロロ等、コラボ以外のフェス限定 => 「イベント限定 - フェス」</li>
              <li>★1-2 => ノーマルガチャ/フリークエストから出現だが、まとめて「1部 - その他」等</li>
              <li>1部の★3 => 自身でプレイした時の記憶や、キャラの所属/ストーリー等から判断し、どこかの「1部 - （各酒場）」</li>
              <li>2部の★3 => 追加されたタイミングの「2部 - （各酒場）」</li>
              <li>リング交換やリングガチャ限定 => 「リング系 - 交換」「リング系 - ガチャ」</li>
              <li>魔神レイドの報酬となる魔神 => 「イベント限定 - 魔神戦」</li>
              <li>魔神だが、レイドではない（ex:ザレン） => 「1部 - その他」</li>
              <li>魔神戦の関連キャラだが、魔神ではなく酒場にも追加されていない（ex:ハティ） => 「イベント限定 - フェス」</li>
              <li>戦功ポイントを稼いだ報酬 => 「イベント限定 - 戦の年代記」</li>
              <li>主人公/フィーナ、ストーリー報酬限定等 => 「1部 - その他」等</li>
            </ul>
          </small>
        </p>
      </div>
      <div class="panel-footer"><a href="#index">目次へ</a></div>
    </div>
    <a name="data-atkhp"></a>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">ATKとHPについて</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>"Max" ATK/HP => 限界突破なしでの最大値</li>
          <li>"Limit" ATK/HP => 最大まで限界突破した状態での最大値</li>
        </ul>
        <p>
          公式サイトでも説明があるように、本来MaxとLimitはレア度に応じて単純計算できるのですが、<br>
          魔神・コラボのようなイベント限定はMaxが低くLimitが高い設定になっていますし、<br>
          2部の義勇軍や騎士のフィーンドのように、そもそも限界突破ができないアルカナも存在します。
        </p>
        <p>
          参考にした<%= link_to 'Wiki', 'http://xn--eckfza0gxcvmna6c.gamerch.com/' %>の情報を見る限り、<br>
          2部のアルカナで計算式に従わないものがいたり、☆1-2で計算が合わないアルカナもいるのですが、<br>
          その全てについてゲーム内で確認することはできません。
        </p>
        <p>
          可能な限り追随はしますが、もし明らかな間違いがあれば <%= link_to '@parrot_studio', 'https://twitter.com/parrot_studio/', :target => '_blank' %> までお願いします。<br>
          その際、スクリーンショットや参考サイト等を教えていただけると、確認しやすくなります。
        </p>
      </div>
      <div class="panel-footer"><a href="#index">目次へ</a></div>
    </div>
    <a name="data-ability-search"></a>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">アビリティの分類について</h3>
      </div>
      <div class="panel-body">
        <h4>アビリティの分類</h4>
        <p>
          本シミュレーターでは、各アルカナのアビリティを「発動条件」と「効果」で分類しています。
        </p>
        <p>
          <small>
            例：
            <ul>
              <li>強気：「HPが一定以上の時」「自身のステータス上昇」</li>
              <li>市街戦闘：「特定のフィールドで」「自身のステータス上昇」</li>
              <li>鼓舞：「各WAVE開始時」「全員を回復」</li>
              <li>神無の瞳：「敵が状態異常時」「与えるダメージ上昇」</li>
            </ul>
          </small>
        </p>
        <p>
          検索においては「アビリティの効果」をまず選択し、それに対応する「条件」で絞り込む、となっています。<br>
          <small>例：「全員の攻撃力上昇」 -> 「全て」「いつでも」「サブパーティーにいるとき」</small>
        </p>
        <hr>
        <h4>アビリティ分類の詳細</h4>
        <p>
          わかりづらいアビリティ分類について、以下で解説します。
          <small>
            <dl class="well">
              <dt>「全員が〜」「特定の職が〜」</dt>
              <dd>フィーナのように全員に効果があるものと、フラウのように職業ごとに効果があるものを区別</dd>
              <dt>「接近戦可能」</dt>
              <dd>弓/魔で接近戦のペナルティを受けないアビリティで、攻撃力が上昇するものも含む</dd>
              <dt>「スロットで複数マナが出やすい」「マナを持って開始」</dt>
              <dd>前者が「天運系」、後者は「素質/天分系」</dd>
              <dt>「火属性」「氷属性」</dt>
              <dd>通常攻撃に属性が付加される</dd>
              <dt>「攻撃間隔が早くなる」</dt>
              <dd>主に銃器系で、3回撃った後の待機時間が短くなるか、弾丸そのものが速くなるかのどちらか</dd>
              <dt>「HPがより高い時」「HPがより低い時」</dt>
              <dd>「HPが高い/低い時」に何らかの効果があるが、さらに高い/低い時にも追加があるもの</dd>
              <dt>「攻拳を一定回数当てた時」</dt>
              <dd>主に「拳」タイプで、攻撃を一定以上当てると発動するもの（例：モアネット）</dd>
            </dl>
          </small>
        </p>
        <hr>
        <h4>複合的な要素を含むアビリティ</h4>
        <p>
          アグダラの「剣聖の素養」のように、「マナの素養＋スキルにスタン追加」のような、<br>
          一つで二つ以上の効果を併せ持つアビリティが、2部以降増えてきています。<br>
          こういったアビリティは、どちらの効果からでも検索できます。<br>
          <br>
          例えば、「マナを持って開始」と「状態異常付与」のどちらを検索に指定しても、<br>
          （「剣聖の素養」が対象となるので）アグダラが結果に出てきます。
        </p>
      </div>
      <div class="panel-footer"><a href="#index">目次へ</a></div>
    </div>
    <a name="data-chained-arcana"></a>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">「絆システム」への対応</h3>
      </div>
      <div class="panel-body">
        <p>
          Ver2.1から追加された「絆システム」に対応しています。
        </p>
        <p>
          パーティー欄にセットされたアルカナに、さらにアルカナをドロップすると、<br>
          「絆としてセット」か「置き換え」（既存の動作）かの選択が出ます。<br>
          絆としてセットすると、その分のコストが総計コストに上乗せされます。
        </p>
        <p>
          ゲーム内と同様に、セット時にアビリティ/ボーナスの発動可否が表示されます。
        <ul>
          <li>職業が異なる：絆アビリティ使用不可</li>
          <li>所属が異なる：所属ボーナスなし</li>
        </ul>
        </p>
      </div>
      <div class="panel-footer"><a href="#index">目次へ</a></div>
    </div>
    <a name="data-vita"></a>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Vita版（チェンクロV）について</h3>
      </div>
      <div class="panel-body">
        <p>
          管理人自身がプレイしておらず、同じアルカナでも性能が全く異なるため、対応は予定しておりません。
        </p>
      </div>
      <div class="panel-footer"><a href="#index">目次へ</a></div>
    </div>
    <hr>
    <a name="system"></a>
    <div>
      <h2>システム関連</h2>
    </div>
    <a name="system-database-mode"></a>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">「データベースモード」について</h3>
      </div>
      <div class="panel-body">
        <p>
          アルカナの検索とデータ確認に特化したモードです。<br>
          検索結果が一覧で表示され、アルカナの名前をクリックすると詳細が確認できます。
        </p>
        <p>
          「パーティー編集モード」と違い、スマートフォン等の小さい画面でも使えます。
        </p>
      </div>
      <div class="panel-footer"><a href="#index">目次へ</a></div>
    </div>
    <a name="system-fav"></a>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">「お気に入り」について</h3>
      </div>
      <div class="panel-body">
        <p>
          各アルカナの詳細ビューで「お気に入り」のON/OFFが選べます。<br>
          履歴メニューから「お気に入り」を選ぶことで、ONにしたアルカナの一覧を呼び出せます。
        </p>
        <p>
          お気に入りの全消去は、「履歴消去」ボタン->「お気に入り」で可能です。
        </p>
      </div>
      <div class="panel-footer"><a href="#index">目次へ</a></div>
    </div>
    <a name="system-update-log"></a>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">更新履歴</h3>
      </div>
      <div class="panel-body">
        <dl>
          <% cache do %>
            <% Changelog.summary(6).each do |l| %>
              <dt>Ver.<%= l.version %></dt>
              <dd><%= l.body %></dd>
            <% end %>
          <% end %>
        </dl>
        <p class="pull-right">
          <%= link_to '過去の更新履歴へ', changelogs_path %>
        </p>
      </div>
      <div class="panel-footer"><a href="#index">目次へ</a></div>
    </div>
    <a name="system-future"></a>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">今後の予定（は未定）</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>パーティー編成を（クッキーに）保存</li>
          <li>アルカナ検索条件の保存と再検索</li>
          <li>アルカナのレベルを登録可能に</li>
          <li>etc...</li>
        </ul>
        <p>
          その他、要望があれば <%= link_to '@parrot_studio', 'https://twitter.com/parrot_studio/', :target => '_blank' %> まで。<br>
          ただし、全ての要望に対応することは不可能です。
        </p>
      </div>
      <div class="panel-footer"><a href="#index">目次へ</a></div>
    </div>
    <a name="system-never"></a>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">やらないこと</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>ゲームのUIレベルでは本来わからない情報（経験値タイプ等）</li>
          <li>公式にリリースがない情報の登録（データ解析情報等）</li>
        </ul>
      </div>
      <div class="panel-footer"><a href="#index">目次へ</a></div>
    </div>
  </div>
</div>
