<div class="row">
  <div class="alert alert-warning alert-dismissible col-xs-12 col-sm-12 col-md-12 invisible" role="alert" id="database-warning">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <p>
      「データベースモード」はβ版です。<br>
      仕様やデザインは今後変更される可能性があります。
    </p>
  </div>
</div>

<% cache do %>
  <% log = Changelog.latest %>
  <div class="row">
    <div class="alert alert-info alert-dismissible col-xs-12 col-sm-12 col-md-12 invisible" id="latest-info" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <p>更新情報：<%= log.body %> (<%= log.date %>)</p>
    </div>
    <input type="hidden" id="latest-info-ver" value="<%= log.version %>">
  </div>
<% end %>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <button type="button" class="btn btn-primary" id="search-modal-btn" data-toggle="modal" data-target="#search-modal" >
      検索する
    </button>
    <button type="button" class="btn btn-info" id="share-query" data-toggle="modal" data-target="#share-query-modal">
      共有する
    </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12">
    <nav class="text-center">
      <ul class="pagination" id="pagination-area-u">
        <li id="pager-prev-u" class="pager-prev"><span>&larr;</span></li>
        <li id="pager-next-u" class="pager-next"><span>&rarr;</span></li>
      </ul>
    </nav>
    <div class="well well-sm small text-muted">
      <span id="detail-u" class="search-detail"></span> <span id="pager-count-u" class="pager-count"></span>
    </div>
    <div class="table-responsive">
      <table id="arcana-table" class="table table-bordered table-condensed">
        <tbody id="table-body">
        </tbody>
      </table>
    </div>
    <div class="well well-sm small text-muted">
      <span id="detail-d" class="search-detail"></span> <span id="pager-count-d" class="pager-count"></span>
    </div>
    <nav class="text-center">
      <ul class="pagination" id="pagination-area-d">
        <li id="pager-prev-d" class="pager-prev"><span>&larr;</span></li>
        <li id="pager-next-d" class="pager-next"><span>&rarr;</span></li>
      </ul>
    </nav>
  </div>
</div>

<%= render 'viewer/condition' %>
<%= render 'viewer/share_query' %>
