<%
members1 = {mem1: 'Leader', mem2: '2nd', mem3: '3rd', mem4: '4th', friend: 'Friend'}
members2 = {sub1: 'Sub1',sub2: 'Sub2'}
%>
<div id="member-area">
  <div class="row">
    <% [members1, members2].each do |mems| %>
      <div class="col-md-12 col-sm-12">
        <ul class="list-inline">
          <% mems.each do |code, name| %>
            <li class="col-md-2 col-sm-2">
              <label for="member-character-<%= code %>"><%= name %></label>
              <div class="member-character<%= ' friend' if code == :friend %>" id="member-character-<%= code %>"></div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div id="edit-area">
  <div class="row">
    <div class="col-md-12 col-sm-12">
    </div>
  </div>
</div>

<div class="modal fade" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="share-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="share-modal-label">構成を共有する</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" id="ptm-code" class="form-control" value="">
        </div>
        <div class="form-group">
          <button type="button" id="twitter-share" class="btn btn-info">Twitterに投稿する</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="data-ver" value="<%= data_version %>">
<input type="hidden" id="pt-ver" value="<%= pt_version %>">
<input type="hidden" id="app-path" value="<%= app_path %>">
<input type="hidden" id="ptm" value="<%= @ptm %>">
<input type="hidden" id="selected" value="">
