<%
members = {mem1: 'Leader', mem2: '2nd', mem3: '3rd', mem4: '4th', sub1: 'Sub1', sub2: 'Sub2', friend: 'Friend', info: ''}
%>

<div id="error-area" class="invisible">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-sm-12">
      <div class="alert alert-danger" role="alert">
        <p>
          <strong>データの取得に失敗しました。</strong>
          <%= link_to 'リロードする', request.url, :class => 'alert-link' %>か、もう一度検索してください。
        </p>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger col-xs-12 hidden-sm hidden-md hidden-lg" role="alert">
  <p>
    PC/タブレット以外のデバイスでは、閲覧のみで編集はできません。
  </p>
</div>

<div class="hidden-xs">
  <div class="alert alert-success alert-dismissible col-sm-12 col-md-12 invisible small" id="tutorial" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4>簡単な使い方</h4>
    <ol>
      <li>上が「メンバーエリア」、下が「検索エリア」です。</li>
      <li>「検索する」ボタンで条件を指定して、パーティーに入れたいアルカナを探します。</li>
      <li>検索エリアのアルカナを<strong>ドラッグアンドドロップして</strong>、メンバーエリアに追加します。</li>
      <li>好みのパーティーが組めたら、「共有する」ボタンからみんなと共有しましょう！</li>
    </ol>
    <p>
      もっと詳しい使い方は、右上の「使い方」から確認してください。
    </p>
  </div>

  <% cache do %>
    <% log = Changelog.latest %>
    <div class="alert alert-info alert-dismissible col-xs-12 col-sm-12 col-md-12" id="latest-info" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <p>更新情報：<%= log.body %> (<%= log.date %>)</p>
    </div>
    <input type="hidden" id="latest-info-ver" value="<%= log.version %>">
  <% end %>
</div>

<div id="member-area">
  <div class="row invisible" id="edit-title">
    <div class="col-sm-12 col-md-12 hidden-xs">
      <button class="btn btn-danger pull-right" id="reset-members">
        パーティーをリセット
      </button>
      <h3>パーティー編集</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 member-list">
      <p class="text-right cost">
        <label for="cost">Total Cost</label> : <span id="cost" ></span>
      <p>
      <ul class="list-inline">
        <% members.each do |code, name| %>
          <li class="col-xs-6 col-sm-3 col-md-3">
            <% case code %>
            <% when :info %>
              <div>
                <label for="buttons" class="member-label"> </label>
                <p class="text-center hidden-xs">
                  <button class="btn btn-primary btn-lg" id="edit-members">
                    編集する
                  </button>
                </p>
                <p class="text-center hidden-xs">
                  <button class="btn btn-info btn-lg act-btn" id="share-members" data-toggle="modal" data-target="#share-modal">
                    共有する
                  </button>
                </p>
              </div>
            <% else %>
              <label for="member-character-<%= code %>" class="member-label"><%= name %></label>
              <div class="member-character<%= ' friend' if code == :friend %>" id="member-character-<%= code %>"></div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="hidden-xs">
  <%= render 'viewer/edit' %>
  <%= render 'viewer/share' %>
</div>
<%= render 'viewer/help' %>
<%= render 'viewer/view' %>

<input type="hidden" id="data-ver" value="<%= data_version %>">
<input type="hidden" id="pt-ver" value="<%= pt_version %>">
<input type="hidden" id="app-path" value="<%= app_path %>">
<input type="hidden" id="ptm" value="<%= @ptm %>">
