<%
members1 = {mem1: 'Leader', mem2: '2nd', mem3: '3rd', mem4: '4th', friend: 'Friend'}
members2 = {sub1: 'Sub1', sub2: 'Sub2', cost: '', edit: '', share: ''}
%>
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="#" id="help" data-toggle="modal" data-target="#help-modal">使い方</a></li>
  </ul>
  <h1>Get our light! <small class="text-muted">チェンクロパーティーシミュレーター（β）</small></h1>
</div>

<div id="error-area" class="invisible">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="alert alert-danger" role="alert">
        <p>
          <strong>データの取得に失敗しました。</strong>
          <%= link_to 'リロードする', request.url, :class => 'alert-link' %>か、再度絞り込みを押してください。
        </p>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger col-xs-12 hidden-sm hidden-md hidden-lg" role="alert">
  <p>
    現在β版のため、PC/タブレット（横画面）以外のデバイスでは正しく動作しません。<br>
    未対応デバイスの場合、閲覧機能のみで編集はできません。<br>
    対応までお待ちください。
  </p>
</div>

<div id="member-area">
  <div class="row invisible" id="edit-title">
    <div class="col-md-12 col-sm-12 hidden-xs">
      <h2>パーティー編集</h2>
    </div>
  </div>
  <div class="row">
    <% [members1, members2].each do |mems| %>
      <div class="col-md-12 col-sm-12 member-list">
        <ul class="list-inline">
          <% mems.each do |code, name| %>
            <li class="col-xs-6 col-md-2 col-sm-2">
              <% case code %>
              <% when :cost %>
                <p class="text-center">
                  <label for="cost">Total Cost</label><br>
                  <span id="cost" class="cost"></span>
                </p>
              <% when :edit %>
                <p class="text-center hidden-xs">
                  <button class="btn btn-primary btn-lg act-btn" id="edit-members">
                    編集する
                  </button>
                </p>
              <% when :share %>
                <p class="text-center hidden-xs">
                  <button class="btn btn-info btn-lg act-btn" id="share-members" data-toggle="modal" data-target="#share-modal">
                    共有する
                  </button>
                </p>
              <% else %>
                <label for="member-character-<%= code %>" class="member-label"><%= name %></label>
                <div class="member-character<%= ' friend' if code == :friend %>" id="member-character-<%= code %>"></div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<%= render 'viewer/edit' %>

<%= render 'viewer/share' %>

<%= render 'viewer/help' %>

<input type="hidden" id="data-ver" value="<%= data_version %>">
<input type="hidden" id="pt-ver" value="<%= pt_version %>">
<input type="hidden" id="app-path" value="<%= app_path %>">
<input type="hidden" id="ptm" value="<%= @ptm %>">
