<h1>PTびゅーわー</h1>
<div class="row">
  <div class="col-md-6 col-sm-6">
    <ul>
      <li>
        <div>Leader</div>
        <div class="member" id="selected-character-mem1" data-job-code="<%= @arcanas[:mem1] %>"></div>
      </li>
      <li>
        <div>2nd</div>
        <div class="member" id="selected-character-mem2" data-job-code="<%= @arcanas[:mem2] %>"></div>
      </li>
      <li>
        <div>3rd</div>
        <div class="member" id="selected-character-mem3" data-job-code="<%= @arcanas[:mem3] %>"></div>
      </li>
      <li>
        <div>4th</div>
        <div class="member" id="selected-character-mem4" data-job-code="<%= @arcanas[:mem4] %>"></div>
      </li>
      <li>
        <div>Sub1</div>
        <div class="member" id="selected-character-sub1" data-job-code="<%= @arcanas[:sub1] %>"></div>
      </li>
      <li>
        <div>Sub2</div>
        <div class="member" id="selected-character-sub2" data-job-code="<%= @arcanas[:sub2] %>"></div>
      </li>
    </ul>
    <hr>
    <div id="selected-character">
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label for="job">職業</label>
        <select id="job" class="form-control">
          <option>-</option>
          <option>戦</option>
          <option>騎</option>
          <option>僧</option>
          <option>弓</option>
          <option>魔</option>
        </select>
      </div>
      <div class="form-group">
        <label for="rare">レア度</label>
        <select id="rare" class="form-control">
          <option>-</option>
          <option>☆1</option>
          <option>☆2</option>
          <option>☆3</option>
          <option>☆4</option>
          <option>☆5</option>
        </select>
      </div>
    </form>
    <div>
      <ul id="target-characters"></ul>
    </div>
  </div>
</div>
