<h1>PTびゅーわー</h1>
<div class="row">
  <div class="col-md-6 col-sm-6">
    <ul>
      <li>
        <div>Leader</div>
        <div class="member" id="selected-character-mem1" data-job-code="<%= @arcanas[:mem1] %>"></div>
      </li>
      <li>
        <div>2nd</div>
        <div class="member" id="selected-character-mem2" data-job-code="<%= @arcanas[:mem2] %>"></div>
      </li>
      <li>
        <div>3rd</div>
        <div class="member" id="selected-character-mem3" data-job-code="<%= @arcanas[:mem3] %>"></div>
      </li>
      <li>
        <div>4th</div>
        <div class="member" id="selected-character-mem4" data-job-code="<%= @arcanas[:mem4] %>"></div>
      </li>
      <li>
        <div>Sub1</div>
        <div class="member" id="selected-character-sub1" data-job-code="<%= @arcanas[:sub1] %>"></div>
      </li>
      <li>
        <div>Sub2</div>
        <div class="member" id="selected-character-sub2" data-job-code="<%= @arcanas[:sub2] %>"></div>
      </li>
    </ul>
    <hr>
    <div id="selected-character">
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label for="job">職業</label>
        <select id="job" class="form-control">
          <option value="">-</option>
          <option value="F">戦</option>
          <option value="K">騎</option>
          <option value="P">僧</option>
          <option value="A">弓</option>
          <option value="M">魔</option>
        </select>
      </div>
      <div class="form-group">
        <label for="rarity">レア度</label>
        <select id="rarity" class="form-control">
          <option value="">-</option>
          <option value="1">☆</option>
          <option value="1U">☆+</option>
          <option value="2">☆☆</option>
          <option value="2U">☆☆+</option>
          <option value="3">☆☆☆</option>
          <option value="3U">☆☆☆+</option>
          <option value="4">☆☆☆☆</option>
          <option value="4U">☆☆☆☆+</option>
          <option value="5">☆☆☆☆☆</option>
        </select>
      </div>
      <div class="form-group">
        <button type="button" id="search" class="btn btn-info">絞り込み</button>
      </div>
    </form>
    <div>
      <ul id="target-characters"></ul>
    </div>
  </div>
</div>
<input type="hidden" id="data-ver" value="<%= data_version %>">
<input type="hidden" id="pt-ver" value="<%= pt_version %>">
<div>
  <input type="hidden" id="pt-path" value="<%= pt_path %>">
  <input type="text" id="code" class="col-md-3 col-sm-3" value="">
  <button type="button" id="create-code" class="btn btn-info">コード</button>
</div>
