<%
members = {mem1: 'Leader', mem2: '2nd', mem3: '3rd', mem4: '4th', sub1: 'Sub1', sub2: 'Sub2', friend: 'Friend', cost: ''}
%>

<div class="row hidden-xs">
  <div class="alert alert-success alert-dismissible col-sm-12 col-md-12 invisible small" id="tutorial" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times; Close</span><span class="sr-only">Close</span></button>
    <h4>簡単な使い方</h4>
    <ol>
      <li>上が「メンバーエリア」、下が「検索エリア」です。</li>
      <li>「検索する」ボタンで条件を指定して、パーティーに入れたいアルカナを探します。</li>
      <li>検索エリアのアルカナを<strong>ドラッグアンドドロップして</strong>、メンバーエリアに追加します。</li>
      <li>好みのパーティーが組めたら、「共有する」ボタンからみんなと共有しましょう！</li>
    </ol>
    <p>
      もっと詳しい使い方は、「使い方」から確認してください。
    </p>
  </div>

  <% cache do %>
    <% log = Changelog.latest %>
    <div class="alert alert-info alert-dismissible col-xs-12 col-sm-12 col-md-12 invisible" id="latest-info" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 更新：<%= log.body %> (<%= log.date %>)</p>
    </div>
    <input type="hidden" id="latest-info-ver" value="<%= log.version %>">
  <% end %>
</div>

<div class="row hidden-sm hidden-md hidden-lg">
  <div class="alert alert-danger col-xs-12" role="alert">
    <p>
      PC/タブレット以外のデバイスでは、パーティーの閲覧のみで編集はできません。<br>
      アルカナの検索等は「<a class="alert-link" href="<%= db_path %>">データベースモード（β版）</a>」でご利用いただけます。
    </p>
    <p class="pull-right">
      <a class="btn btn-default" href="<%= db_path %>" role="button">データベースモード</a>
    </p>
  </div>
</div>

<div class="row hidden-xs">
  <div class="col-sm-12 col-md-12">
    <button class="btn btn-primary act-btn" id="edit-members">
      <span class="glyphicon glyphicon-check" aria-hidden="true" id="edit-icon"></span> <span id="edit-state">編集終了</span>
    </button>
    <button class="btn btn-info act-btn" id="share-members" data-toggle="modal" data-target="#share-ptm-modal">
      <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> 共有
    </button>
    <button class="btn btn-link act-btn" id="help" data-toggle="modal" data-target="#help-modal">
      使い方
    </button>
  </div>
</div>

<div id="member-area" class="well well-sm">
  <div class="row" id="edit-title">
    <div class="col-md-12 col-sm-12 hidden-xs">
      <div class="pull-right" role="group" aria-label="hoge">
        <button class="btn btn-danger" id="reset-members-btn" data-toggle="modal" data-target="#reset-modal">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> リセット
        </button>
        <button class="btn btn-primary " id="store-members-btn" data-toggle="modal" data-target="#store-modal">
          <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> 保存
        </button>
        <div class="btn-group">
          <button class="btn btn-info dropdown-toggle" id="load-members" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span> 呼び出し<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="party-menu">
            <li><a data-target="#" id="last-members"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> 最後に作ったパーティー構成</a></li>
            <li role="separator" class="divider" id="party-list-header"></li>
          </ul>
        </div>
      </div>
      <h2>パーティー編集</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 member-list">
      <ul class="list-inline">
        <% members.each do |code, name| %>
          <li class="col-xs-6 col-sm-3 col-md-3">
            <% case code %>
            <% when :cost %>
              <p class="text-center">
                <label for="cost">Total Cost</label><br>
                <span id="cost" class="cost"></span>
              </p>
            <% else %>
              <label for="member-character-<%= code %>" class="member-label"><%= name %></label>
              <div class="member-character<%= ' friend' if code == :friend %>" id="member-character-<%= code %>"></div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="hidden-xs">
  <%= render 'viewer/edit' %>
  <%= render 'viewer/condition' %>
  <%= render 'viewer/select' %>
  <%= render 'viewer/reset' %>
  <%= render 'viewer/store' %>
</div>
<%= render 'viewer/help' %>
<%= render 'viewer/share_ptm' %>

<input type="hidden" id="ptm" value="<%= @ptm %>">
