<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Author" content="ぱろっと" />
    <meta name="keywords" content="チェンクロ,チェインクロニクル,パーティー,アルカナ,検索,シミュレーター" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta property="og:site_name" content="Get our light! - チェンクロパーティーシミュレーター" />
    <meta property="og:title" content="Get our light! - チェンクロパーティーシミュレーター" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= image_url("ccpts.png") %>" />
    <meta property="og:url" content="<%= root_path(only_path: false) %>" />
    <meta property="og:description" content="チェンクロのパーティーを構成したり共有したりできます。アビリティやスキルからのアルカナ検索も可能" />
    <link rel="canonical" href="<%= root_path(only_path: false) %>" />
    <link itemprop="author" href="https://twitter.com/parrot_studio" />
    <title>Get our light! - チェンクロパーティーシミュレーター</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wallpaper"></div>
    <div class="container">

      <div class="row">
        <div class="hidden-xs hidden-sm col-md-1"></div>

        <div class="col-xs-12 col-sm-12 col-md-10">
          <div class="header">
            <h1>Get our light! <small class="text-muted lead">チェンクロパーティーシミュレーター（β）</small></h1>
          </div>

          <%= yield %>
        </div>

        <div class="hidden-xs hidden-sm col-md-1"></div>
      </div>

      <footer>
        <p class="small">
          <strong>チェインクロニクル</strong> <%= link_to 'http://chronicle.sega-net.com/', 'http://chronicle.sega-net.com/' %><br>
          &copy; SEGA / &copy; SEGA Networks<br>
          <a href="http://chronicle.sega-net.com/" target="_blank"><img src="http://rd1supporters.sega.jp/special/01/banner/200x40c.jpg" alt="「チェインクロニクル」応援バナー" width="200" height="40" border="0" /></a>
        </p>
        <p class="text-muted small">
          作った人 : ぱろっと（<%= link_to '@parrot_studio', 'https://twitter.com/parrot_studio/', :target => '_blank' %>） <%= link_to 'もっと細かい説明', about_path %> / <%= link_to '過去の更新履歴', changelogs_path %>
        </p>
      </footer>

    </div>

    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <% cache do %>
      <%=raw analytics %>
    <% end %>
  </body>
</html>
